<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>Concatenate lists</title>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"/>
  <style>
    body {
      box-sizing: border-box;
      font-family: 'Roboto', Arial, sans-serif;
      font-weight: 400;
      font-size: 14px;
      margin: 0;
      min-height: 100vh;
      padding: 10px;
    }

    h1 {
      font-size: 20px;
      margin: 5px;
      padding: 0;
      text-align: center;
    }

    .cpy-btns {

    }

    pre {
      margin: 5px 0;
    }

    button {
      cursor: pointer;
    }

    textarea {
      font-size: 13px;
      font-family: monospace;
    }

    .to-be-repeated {
      color: #ccc;
      font-family: monospace;
      font-size: 13px;
      left: 3px;
      position: absolute;
      top: 3px;
      white-space: pre;
      z-index: -1;
    }
  </style>
</head>
<body>
  <h1>Concatenate lists of text</h1>
  <div id="app">

    <div style="overflow: hidden;position: relative;">
      <div v-for="(textInput, index) in cols" style="float: left; clear: none; padding: 0 10px;">
        <div style="margin-bottom: 8px;">
          Column {{ (index + 1) }}
        </div>
        <div style="position: relative">
          <textarea v-model="cols[index]" :tabindex="index + 1" style="height: 50vh;background: transparent;" placeholder="Paste the text to be concatenated here." @keyup="checkLongest"></textarea>
          <button @click="repeatPattern(index)" style="font-size: 12px;position: absolute; bottom: 10px; right: 5px;background: transparent; border: 0; color: #666;" v-if="lengthCols[index] < longestCol && cols[index] !== ''">Repeat</button>
<div class="to-be-repeated">{{ (lengthCols[index] < longestCol && cols[index] !== '') ? textIfRepeatPattern[index] : '' }}</div>
        </div>
      </div>

      <div style="position: absolute;bottom: 4px;display: inline-block;">
        <button @click="addCol" title="Add new column.">+</button>
      </div>
    </div>

    <div style="margin: 25px 10px;position: relative;padding-bottom:30px;" @mouseover="showCopy = true" @mouseleave="showCopy = false">
      <pre style="margin-top: 5px;padding: 5px;border: 1px #aaa solid;border-radius: 3px;">
{{ output}}
      </pre>
      <span v-if="copied" style="margin-left: 5px; color: #666; font-size: 12px;">Copied to clipboard</span>
      <button @click="copy" class="cpy-btns" v-if="output != '' && showCopy" style="position: absolute; right: 5px;top: 5px;" @mouseover.stop="showCopy = true">Copy</button>
    </div>
  </div>
  <script>
    new Vue({
      el: '#app',
      data: {
        cols: [
          '',
          ''
        ],
        output: '',
        lengthCols: [
          0,
          0
        ],
        longestCol: 0,
        textIfRepeatPattern: [
          '',
          ''
        ],
        copied: false,
        showCopy: false
      },
      methods: {
        concatenate: function() {
          //this.cols.forEach(function(eachCol, index, theArray) {
            //theArray[index] = eachCol.trim();
          //});
          var linesCol = [];
          for (var i = 0; i < this.cols.length; i++) {
            // window.localStorage.setItem('col' + (i + 1), this.cols[i]);
            linesCol[i] = this.cols[i].split(/\r?\n/);
          }
          var maxLenghtCol = 0;
          linesCol.forEach(function(eachColLines) {
            if (eachColLines.length > maxLenghtCol) maxLenghtCol = eachColLines.length;
          })
          var concatenated = '';
          for (var j = 0; j < maxLenghtCol; j++) {
            for (var i = 0; i < this.cols.length; i++) {
              concatenated += ((linesCol[i][j]) ? linesCol[i][j] : '');
            };
            concatenated += "\r\n";
          }
          concatenated += "\r\n";
          this.output = concatenated;
        },
        addCol: function() {
          this.cols.push('');
          this.lengthCols.push(0);
          this.textIfRepeatPattern.push('');
        },
        copy: function() {
          var t = document.createElement('textarea');
          t.style.width = '0';
          t.style.height = '0';
          t.style.border = '0';
          t.value = this.output;
          document.body.appendChild(t);
          t.select();document.execCommand('copy');
          t.parentNode.removeChild(t);
          this.copied = true;
        },
        repeatPattern: function(currentCol) {
          this.$set(this.cols, currentCol, this.textIfRepeatPattern[currentCol]); // updating array doesn't set reactivity
          this.concatenate();
        },
        checkLongest: function() {
          this.copied = false;
          var linesCol = [];
          for (var i = 0; i < this.cols.length; i++) {
            linesCol[i] = this.cols[i].split(/\r?\n/);
            this.lengthCols[i] = linesCol[i].length;
          }
          var maxLenghtCol = 0;
          linesCol.forEach(function(eachColLines, index) {
            if (eachColLines.length > maxLenghtCol)
              maxLenghtCol = eachColLines.length;
          })
          this.longestCol = maxLenghtCol;
          this.concatenate();

          //this.cols.forEach(function(eachCol, index, theArray) {
            //theArray[index] = eachCol.trim();
          //});
          var linesCol = [];
          var lastLineInCol = [];
          for (var i = 0; i < this.cols.length; i++) {
            linesCol[i] = this.cols[i].trim().split(/\r?\n/);
            lastLineInCol[i] = linesCol[i][linesCol[i].length - 1];
          }
          var maxLenghtCol = 0;
          linesCol.forEach(function(eachColLines) {
            if (eachColLines.length > maxLenghtCol) maxLenghtCol = eachColLines.length;
          });
          var that = this;
          this.cols.forEach(function(eachCol, index) {
            var nextTextIfRepeatPattern = that.cols[index];
            for (var r = linesCol[index].length; r < maxLenghtCol; r++) {
              nextTextIfRepeatPattern += "\r\n" + lastLineInCol[index];
            }
            that.$set(that.textIfRepeatPattern, index, nextTextIfRepeatPattern); // updating array doesn't set reactivity
          });
        }
      },
      mounted: function() {
        this.$nextTick(function() {
          if (window.localStorage.getItem('col1')) {
            // this.cols[0] = window.localStorage.getItem('col1');
            // this.cols[1] = window.localStorage.getItem('col2');
          }
        })
      }
    })
  </script>
</body>
</html>
